In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel("Olympics_dataset_Final_product.xlsx")

In [3]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315761 entries, 0 to 315760
Data columns (total 48 columns):
 #   Column                                               Non-Null Count   Dtype
---  ------                                               --------------   -----
 0   unknown_id                                           300807 non-null  float64
 1   id                                                   315757 non-null  float64
 2   used_name                                            315761 non-null  object
 3   full_name                                            300848 non-null  object
 4   gender                                               315758 non-null  object
 5   height_in_cm                                         235844 non-null  float64
 6   weight_in_kg                                         226131 non-null  float64
 7   birth_date                                           312861 non-null  object
 8   birth_date_Olympedia                                 298164 non-null  object
 9   age                                                  312787 non-null  float64
 10  age_Olympedia                                        301887 non-null  float64
 11  death_date                                           72486 non-null   object
 12  birth_country                                        278714 non-null  object
 13  birth_country_Olympedia                              245186 non-null  object
 14  birth_country_full                                   281623 non-null  object
 15  birth_country_full_Olympedia                         234005 non-null  object
 16  birth_country_full (2024 imported too)               12826 non-null   object
 17  birth_region_2024                                    11928 non-null   object
 18  birth_region_Olympedia                               245172 non-null  object
 19  birth_city_Olympedia                                 245170 non-null  object
 20  latitude                                             109471 non-null  float64
 21  longitude                                            109471 non-null  float64
 22  year                                                 315761 non-null  int64
 23  sport                                                315761 non-null  object
 24  team                                                 315761 non-null  object
 25  gapminder_countryname                                315761 non-null  object
 26  event                                                315759 non-null  object
 27  medal                                                45360 non-null   object
 28  place                                                277133 non-null  float64
 29  tied                                                 299848 non-null  float64
 30  season                                               315761 non-null  object
 31  event_unmodified                                     315529 non-null  object
 32  GDP per capita, PPP (constant 2021 international $)  315749 non-null  object
 33  GDP total, PPP (constant 2021 international $)       315749 non-null  object
 34  GDP per capita growth (%)                            315749 non-null  object
 35  Population                                           293988 non-null  object
 36  Gini                                                 315745 non-null  object
 37  Roles                                                300849 non-null  object
 38  Born                                                 298316 non-null  object
 39  Died                                                 72487 non-null   object
 40  NOC                                                  300847 non-null  object
 41  Affiliations                                         210044 non-null  object
 42  Nick/petnames                                        22094 non-null   object
 43  Title(s)                                             978 non-null     object
 44  Other names                                          15839 non-null   object
 45  Nationality                                          18718 non-null   object
 46  Original name                                        62047 non-null   object
 47  Name order                                           15161 non-null   object
dtypes: float64(10), int64(1), object(37)
memory usage: 115.6+ MB
None
          unknown_id            id   height_in_cm   weight_in_kg  \
count  300807.000000  3.157570e+05  235844.000000  226131.000000
mean   150403.599328  1.560488e+05     175.372818      70.591754
std     86836.061475  3.906370e+05      10.471276      14.191490
min         0.000000  1.000000e+00     127.000000      25.000000
25%     75201.500000  3.592400e+04     168.000000      60.000000
50%    150404.000000  7.606100e+04     175.000000      70.000000
75%    225605.500000  1.102170e+05     183.000000      79.000000
max    300807.000000  9.460001e+06     226.000000     198.000000

                 age  age_Olympedia       latitude      longitude  \
count  312787.000000  301887.000000  109471.000000  109471.000000
mean       25.920869      25.924909      38.811825       4.620768
std         5.884908       5.887728      24.067505      57.046280
min        10.000000      11.000000     -53.162569    -178.810537
25%        22.000000      22.000000      39.672756      -2.059745
50%        25.000000      25.000000      47.374449      10.213405
75%        29.000000      29.000000      51.498995      21.024771
max       105.000000      73.000000      74.977838     179.765760

                year          place           tied
count  315761.000000  277133.000000  299848.000000
mean     1983.224132      16.119210       0.145871
std        31.868162      19.353765       0.352977
min      1889.000000       1.000000       0.000000
25%      1964.000000       5.000000       0.000000
50%      1992.000000       9.000000       0.000000
75%      2008.000000      20.000000       0.000000
max      2024.000000     185.000000       1.000000

In [4]:
# Choose data from after 1924 to avoid different metric systems and weird sports
# Choose only summer games
df_1924 = df[df['year'] >= 1924]
df_1924_summer = df_1924[df_1924['season']=="Summer Olympics"]
df_swimming = df_1924_summer[df_1924_summer['sport'] == 'Swimming']

In [5]:
# Encode medals with values: Gold = 3, Silver = 2, Bronze = 1, None = 0
medal_to_points = {
    'Gold': 3,
    'Silver': 2,
    'Bronze': 1,    
    None: 0,
}

df_swimming['medal_points'] = df_swimming['medal'].apply(lambda x: medal_to_points.get(x, 0))

C:\Users\jakub\AppData\Local\Temp\ipykernel_36228\1851013171.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_swimming['medal_points'] = df_swimming['medal'].apply(lambda x: medal_to_points.get(x, 0))

In [6]:
df_swimming['event'].unique()

array(['4 × 200 metres Freestyle Relay, Men',
       '100 metres Backstroke, Men', '100 metres Freestyle, Men',
       '400 metres Freestyle, Men', '200 metres Breaststroke, Men',
       '1,500 metres Freestyle, Men', '100 metres Freestyle, Women',
       '4 × 100 metres Freestyle Relay, Women',
       '100 metres Backstroke, Women', '400 metres Freestyle, Women',
       '200 metres Breaststroke, Women',
       '4 × 100 metres Medley Relay, Men', '100 metres Butterfly, Women',
       '200 metres Butterfly, Women',
       '4 × 100 metres Medley Relay, Women',
       '100 metres Breaststroke, Men', '200 metres Butterfly, Men',
       '100 metres Butterfly, Men', '200 metres Individual Medley, Men',
       '400 metres Individual Medley, Men', '200 metres Freestyle, Men',
       '200 metres Freestyle, Women',
       '4 × 100 metres Freestyle Relay, Men',
       '100 metres Breaststroke, Women', '200 metres Backstroke, Women',
       '50 metres Freestyle, Men', '200 metres Backstroke, Men',
       '400 metres Individual Medley, Women',
       '800 metres Freestyle, Women',
       '4 × 200 metres Freestyle Relay, Women',
       '200 metres Individual Medley, Women',
       '50 metres Freestyle, Women', '1,500 metres Freestyle, Women',
       '4 x 100 metres Freestyle Relay, Women',
       '4 x 100 metres Medley Relay, Women',
       '4 x 200 metres Freestyle Relay, Women',
       'Mixed 4 x 100 metres Medley Relay',
       '4 x 100 metres Freestyle Relay, Men', 'Relay Only Athlete',
       '4 × 100 metres Medley Relay, Mixed', '800 metres Freestyle, Men',
       '4 x 100 metres Medley Relay, Men',
       '4 x 200 metres Freestyle Relay, Men'], dtype=object)

In [7]:
import pandas as pd
import numpy as np
import re

# --- Normalization Function ---
def normalize_event_description(description_series):
    """Normalizes event descriptions, e.g., replacing '×' with 'x'."""
    if not isinstance(description_series, pd.Series):
        raise TypeError("Input must be a pandas Series.")
    return description_series.str.replace('×', 'x', regex=False).astype(str) # Ensure string type

# --- Gender Extraction Function ---
def extract_gender(description_series):
    """Extracts gender (Men, Women, Mixed, Unknown) from a series of event descriptions."""
    if not isinstance(description_series, pd.Series):
        raise TypeError("Input must be a pandas Series.")
    
    gender = description_series.str.extract(r'(Men|Women|Mixed)(?!.*\b(?:Men|Women|Mixed)\b)', flags=re.IGNORECASE)[0]
    # For "Relay Only Athlete" or if no gender is found, mark as 'Unknown'
    gender = gender.fillna('Unknown')
    # Handle cases like "Relay Only Athlete" specifically if they don't fit the regex
    gender.loc[description_series.str.contains('Relay Only Athlete', case=False, na=False)] = 'Unknown'
    return gender

# --- Event Type Extraction Function ---
def extract_event_type(description_series):
    """Extracts event type (Relay, Individual, Team, etc.) from a series of event descriptions."""
    if not isinstance(description_series, pd.Series):
        raise TypeError("Input must be a pandas Series.")

    def determine_type(description):
        if pd.isna(description):
            return 'Unknown'
        description_lower = str(description).lower() # Ensure it's a string
        if 'relay' in description_lower:
            return 'Relay'
        if 'team swimming' in description_lower:
            return 'Team Swimming'
        if 'handicap' in description_lower:
            return 'Handicap'
        if 'individual medley' in description_lower:
            return 'Individual Medley'
        if description_lower == 'relay only athlete':
            return 'Athlete Role'
        if any(kw in description_lower for kw in ['plunge for distance', 'underwater swimming', 'obstacle course']):
            return 'Special Individual'
        if any(g in description_lower for g in ['men', 'women', 'mixed']):
             if not any(kw in description_lower for kw in ['relay', 'team', 'handicap']):
                return 'Individual'
        return 'Unknown'
    
    return description_series.apply(determine_type)

# --- Stroke Extraction Function ---
def extract_stroke(description_series):
    """Extracts the swimming stroke from a series of event descriptions."""
    if not isinstance(description_series, pd.Series):
        raise TypeError("Input must be a pandas Series.")

    def determine_stroke(description):
        if pd.isna(description):
            return 'Unknown'
        description_lower = str(description).lower() # Ensure it's a string
        if 'freestyle' in description_lower:
            if 'for sailors' in description_lower:
                return 'Freestyle For Sailors'
            return 'Freestyle'
        if 'backstroke' in description_lower:
            return 'Backstroke'
        if 'breaststroke' in description_lower:
            return 'Breaststroke'
        if 'butterfly' in description_lower:
            return 'Butterfly'
        if 'medley' in description_lower: # Catches Individual Medley and Medley Relay
            return 'Medley'
        if 'obstacle course' in description_lower:
            return 'Obstacle Course'
        if 'underwater swimming' in description_lower:
            return 'Underwater Swimming'
        if 'plunge for distance' in description_lower:
            return 'Plunge For Distance'
        if 'team swimming' in description_lower:
            return 'Team Event' # Specific stroke often not mentioned for "Team Swimming"
        if description_lower == 'relay only athlete':
            return 'Not Applicable'
        return 'Unknown'
        
    return description_series.apply(determine_stroke)

# --- Distance and Unit Extraction Function ---
def extract_distance_info(description_series):
    """
    Extracts total distance, unit, relay legs, and leg distance 
    from a series of event descriptions.
    Returns a DataFrame with these columns.
    """
    if not isinstance(description_series, pd.Series):
        raise TypeError("Input must be a pandas Series.")

    def parse_single_description(description):
        if pd.isna(description):
            return np.nan, 'Unknown', np.nan, np.nan
        
        description_str = str(description) # Ensure it's a string

        # Handle relay distances: "4 x 100 metres" or "4 x 50 yards"
        relay_match = re.search(r'(\d+)\s*x\s*([\d,]+)\s*(metres|yards|mile)', description_str, re.IGNORECASE)
        if relay_match:
            legs = int(relay_match.group(1))
            leg_distance_str = relay_match.group(2).replace(',', '')
            leg_distance = float(leg_distance_str)
            unit = relay_match.group(3).lower()
            total_distance = legs * leg_distance
            return total_distance, unit, float(legs), leg_distance

        # Handle individual distances: "1,200 metres", "440 yards", "1 mile"
        individual_match = re.search(r'([\d,]+(?:\.\d+)?)\s*(metres|yards|mile)', description_str, re.IGNORECASE)
        if individual_match:
            distance_str = individual_match.group(1).replace(',', '')
            distance = float(distance_str)
            unit = individual_match.group(2).lower()
            return distance, unit, 1.0, distance

        # Handle special cases
        desc_lower = description_str.lower()
        if 'plunge for distance' in desc_lower:
            return np.nan, 'Special (Plunge)', 1.0, np.nan
        if 'underwater swimming' in desc_lower:
            return np.nan, 'Special (Underwater)', 1.0, np.nan
        if 'obstacle course' in desc_lower: # Often has a distance, e.g., "200 metres Obstacle Course"
            # This case should ideally be caught by individual_match if distance is present.
            # If not, it implies distance is not specified in the standard format.
             obstacle_match = re.search(r'([\d,]+)\s*metres\s*Obstacle Course', description_str, re.IGNORECASE)
             if obstacle_match:
                 distance_str = obstacle_match.group(1).replace(',', '')
                 distance = float(distance_str)
                 return distance, 'metres', 1.0, distance
             return np.nan, 'Special (Obstacle)', 1.0, np.nan
        if 'relay only athlete' in desc_lower:
            return np.nan, 'Not Applicable', np.nan, np.nan
        
        return np.nan, 'Unknown', np.nan, np.nan

    results = description_series.apply(lambda x: pd.Series(parse_single_description(x)))
    results.columns = ['total_distance', 'unit', 'relay_legs', 'relay_leg_distance']
    return results

# --- Distance Conversion to Meters ---
def convert_distances_to_meters(distance_df):
    """
    Converts 'total_distance' and 'relay_leg_distance' to meters.
    Assumes distance_df has 'total_distance', 'relay_leg_distance', and 'unit' columns.
    """
    if not isinstance(distance_df, pd.DataFrame):
        raise TypeError("Input must be a pandas DataFrame.")
    if not all(col in distance_df.columns for col in ['total_distance', 'relay_leg_distance', 'unit']):
        raise ValueError("DataFrame must contain 'total_distance', 'relay_leg_distance', and 'unit' columns.")

    df = distance_df.copy() # Work on a copy

    def convert_to_m(dist_val, unit_val):
        if pd.isna(dist_val) or pd.isna(unit_val) or not isinstance(unit_val, str):
            return np.nan
        
        unit_lower = unit_val.lower()
        if 'yards' in unit_lower:
            return dist_val * 0.9144
        if 'mile' in unit_lower:
            return dist_val * 1609.34
        if 'metres' in unit_lower or 'meters' in unit_lower : # Allow for 'meters' spelling
            return dist_val
        # For 'Special', 'Not Applicable', 'Unknown' units, distance in meters is undefined
        if any(spec_unit in unit_lower for spec_unit in ['special', 'not applicable', 'unknown']):
            return np.nan
        return np.nan # Default for unrecognized units

    df['total_distance_meters'] = df.apply(lambda row: convert_to_m(row['total_distance'], row['unit']), axis=1)
    df['relay_leg_distance_meters'] = df.apply(lambda row: convert_to_m(row['relay_leg_distance'], row['unit']), axis=1)
    
    return df[['total_distance_meters', 'relay_leg_distance_meters']]


# --- Main Function to Apply All Extractions ---
def extract_all_features(df, column_name):
    """
    Applies all extraction functions to the specified column of the DataFrame.
    
    Args:
        df (pd.DataFrame): The input DataFrame.
        column_name (str): The name of the column containing event descriptions.
        
    Returns:
        pd.DataFrame: The DataFrame with new extracted feature columns.
    """
    if column_name not in df_swimming.columns:
        raise ValueError(f"Column '{column_name}' not found in DataFrame.")

    # Create a working copy to avoid SettingWithCopyWarning
    df_processed = df_swimming.copy()

    # 1. Normalize descriptions
    df_processed['normalized_description'] = normalize_event_description(df_processed[column_name])
    
    # 2. Extract Gender
    df_processed['gender'] = extract_gender(df_processed['normalized_description'])
    
    # 3. Extract Event Type
    df_processed['event_type'] = extract_event_type(df_processed['normalized_description'])
    
    # 4. Extract Stroke
    df_processed['stroke'] = extract_stroke(df_processed['normalized_description'])
    
    # 5. Extract Distance Info (total_distance, unit, relay_legs, relay_leg_distance)
    distance_info_df = extract_distance_info(df_processed['normalized_description'])
    df_processed = pd.concat([df_processed, distance_info_df], axis=1)
    
    # 6. Convert distances to meters
    meter_distances_df = convert_distances_to_meters(df_processed[['total_distance', 'relay_leg_distance', 'unit']])
    df_processed = pd.concat([df_processed, meter_distances_df], axis=1)
    
    return df_processed

# --- Example Usage ---
if __name__ == '__main__':
    # Create a sample DataFrame (replace with your actual DataFrame)
    sample_data = {
        'event_details': [
            '1,200 metres Freestyle, Men', 
            '500 metres Freestyle, Men',
            '100 metres Freestyle For Sailors, Men',
            '4 × 50 yards Freestyle Relay, Men',
            'Plunge For Distance, Men',
            'Underwater Swimming, Men',
            '4 x 100 metres Medley Relay, Women',
            '200 metres Obstacle Course, Men',
            'Relay Only Athlete',
            '1 mile Freestyle, Men',
            'Unknown Event Type', # To test unknown handling
            np.nan # To test NaN handling
        ],
        'other_column': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
    }
    my_dataframe = pd.DataFrame(sample_data)
    
    # Specify the column that contains the event descriptions
    event_description_column = 'event_details' 
    
    print("Original DataFrame:")
    print(my_dataframe)
    print("-" * 50)
    
    # Apply the feature extraction
    try:
        df_with_features = extract_all_features(my_dataframe, event_description_column)
        
        print("\nDataFrame with Extracted Features:")
        print(df_with_features)
        print("-" * 50)
        
        print("\nInfo for the new DataFrame:")
        df_with_features.info()
        print("-" * 50)

        print("\nValue counts for some new columns:")
        for col in ['gender', 'event_type', 'stroke', 'unit']:
            if col in df_with_features:
                print(f"\nValue counts for {col}:")
                print(df_with_features[col].value_counts(dropna=False))

    except Exception as e:
        print(f"An error occurred: {e}")

Original DataFrame:
                            event_details  other_column
0             1,200 metres Freestyle, Men             1
1               500 metres Freestyle, Men             2
2   100 metres Freestyle For Sailors, Men             3
3       4 × 50 yards Freestyle Relay, Men             4
4                Plunge For Distance, Men             5
5                Underwater Swimming, Men             6
6      4 x 100 metres Medley Relay, Women             7
7         200 metres Obstacle Course, Men             8
8                      Relay Only Athlete             9
9                   1 mile Freestyle, Men            10
10                     Unknown Event Type            11
11                                    NaN            12
--------------------------------------------------
An error occurred: Column 'event_details' not found in DataFrame.

In [8]:
# Make sure your DataFrame df_swimming is loaded and available.
# For example:
# df_swimming = pd.read_csv('your_swimming_data.csv') # Or however you load it

# The column in df_swimming that contains the event descriptions
event_column_name = 'event' # Based on your df.info(), this seems to be the correct column

# Check if the column exists to prevent errors
if event_column_name not in df_swimming.columns:
    print(f"Error: Column '{event_column_name}' not found in df_swimming.")
    print(f"Please check the column name. Available columns are: {df_swimming.columns.tolist()}")
else:
    # Apply the feature extraction
    # It's good practice to work on a copy if you want to keep the original df_swimming unchanged
    df_swimming_with_features = extract_all_features(df_swimming.copy(), event_column_name)
    
    # Display the first few rows of the new DataFrame with extracted features
    print("DataFrame with new features (head):")
    print(df_swimming_with_features.head())
    
    # Display info to see the new columns
    print("\nInfo for the DataFrame with new features:")
    df_swimming_with_features.info()
    
    # You can also check value counts for some of the new columns
    print("\nValue counts for 'gender' (new column):")
    print(df_swimming_with_features['gender'].value_counts(dropna=False).head())

    print("\nValue counts for 'event_type' (new column):")
    print(df_swimming_with_features['event_type'].value_counts(dropna=False).head())
    
    print("\nValue counts for 'stroke' (new column):")
    print(df_swimming_with_features['stroke'].value_counts(dropna=False).head())

    # To replace your original df_swimming with the processed one:
    # df_swimming = df_swimming_with_features
    # Or assign it to a new variable name if you prefer.

DataFrame with new features (head):
      unknown_id       id            used_name  \
5955    108936.0  49775.0  Kazimierz Bocheński
7120    103512.0  47918.0        Johann Schulz
8492     99993.0  46584.0        Boris Roolaid
8493     99994.0  46585.0         Egon Roolaid
8499     99995.0  46585.0         Egon Roolaid

                              full_name gender  height_in_cm  weight_in_kg  \
5955  Roman Kazimierz Wiesław Bocheński    Men           NaN           NaN
7120                      Johann Schulz    Men           NaN           NaN
8492         Boris Roolaid (Rosenberg-)    Men           NaN           NaN
8493          Egon Roolaid (Rosenberg-)    Men         177.0          75.0
8499          Egon Roolaid (Rosenberg-)    Men         177.0          75.0

             birth_date birth_date_Olympedia   age  ...  medal_points  \
5955        12 May 1910          12 May 1910  26.0  ...             0
7120                NaN                  NaN   NaN  ...             0
8492    3 February 1917      3 February 1917  19.0  ...             0
8493  26 September 1918    26 September 1918  18.0  ...             0
8499  26 September 1918    26 September 1918  18.0  ...             0

                   normalized_description  event_type      stroke  \
5955  4 x 200 metres Freestyle Relay, Men       Relay   Freestyle
7120           100 metres Backstroke, Men  Individual  Backstroke
8492           100 metres Backstroke, Men  Individual  Backstroke
8493            100 metres Freestyle, Men  Individual   Freestyle
8499            400 metres Freestyle, Men  Individual   Freestyle

     total_distance    unit relay_legs relay_leg_distance  \
5955          800.0  metres        4.0              200.0
7120          100.0  metres        1.0              100.0
8492          100.0  metres        1.0              100.0
8493          100.0  metres        1.0              100.0
8499          400.0  metres        1.0              400.0

     total_distance_meters relay_leg_distance_meters
5955                 800.0                     200.0
7120                 100.0                     100.0
8492                 100.0                     100.0
8493                 100.0                     100.0
8499                 400.0                     400.0

[5 rows x 58 columns]

Info for the DataFrame with new features:
<class 'pandas.core.frame.DataFrame'>
Index: 26101 entries, 5955 to 315713
Data columns (total 58 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   unknown_id                                           24479 non-null  float64
 1   id                                                   26101 non-null  float64
 2   used_name                                            26101 non-null  object
 3   full_name                                            24466 non-null  object
 4   gender                                               26101 non-null  object
 5   height_in_cm                                         20334 non-null  float64
 6   weight_in_kg                                         19896 non-null  float64
 7   birth_date                                           26023 non-null  object
 8   birth_date_Olympedia                                 24400 non-null  object
 9   age                                                  26023 non-null  float64
 10  age_Olympedia                                        24832 non-null  float64
 11  death_date                                           2927 non-null   object
 12  birth_country                                        22325 non-null  object
 13  birth_country_Olympedia                              19101 non-null  object
 14  birth_country_full                                   22458 non-null  object
 15  birth_country_full_Olympedia                         18320 non-null  object
 16  birth_country_full (2024 imported too)               1343 non-null   object
 17  birth_region_2024                                    1273 non-null   object
 18  birth_region_Olympedia                               19098 non-null  object
 19  birth_city_Olympedia                                 19098 non-null  object
 20  latitude                                             11220 non-null  float64
 21  longitude                                            11220 non-null  float64
 22  year                                                 26101 non-null  int64
 23  sport                                                26101 non-null  object
 24  team                                                 26101 non-null  object
 25  gapminder_countryname                                26101 non-null  object
 26  event                                                26101 non-null  object
 27  medal                                                3047 non-null   object
 28  place                                                23370 non-null  float64
 29  tied                                                 24467 non-null  float64
 30  season                                               26101 non-null  object
 31  event_unmodified                                     26101 non-null  object
 32  GDP per capita, PPP (constant 2021 international $)  26101 non-null  object
 33  GDP total, PPP (constant 2021 international $)       26101 non-null  object
 34  GDP per capita growth (%)                            26101 non-null  object
 35  Population                                           24257 non-null  object
 36  Gini                                                 26101 non-null  object
 37  Roles                                                24466 non-null  object
 38  Born                                                 24404 non-null  object
 39  Died                                                 2927 non-null   object
 40  NOC                                                  24466 non-null  object
 41  Affiliations                                         17268 non-null  object
 42  Nick/petnames                                        1530 non-null   object
 43  Title(s)                                             26 non-null     object
 44  Other names                                          949 non-null    object
 45  Nationality                                          1099 non-null   object
 46  Original name                                        4806 non-null   object
 47  Name order                                           1186 non-null   object
 48  medal_points                                         26101 non-null  int64
 49  normalized_description                               26101 non-null  object
 50  event_type                                           26101 non-null  object
 51  stroke                                               26101 non-null  object
 52  total_distance                                       25944 non-null  float64
 53  unit                                                 26101 non-null  object
 54  relay_legs                                           25944 non-null  float64
 55  relay_leg_distance                                   25944 non-null  float64
 56  total_distance_meters                                25944 non-null  float64
 57  relay_leg_distance_meters                            25944 non-null  float64
dtypes: float64(15), int64(2), object(41)
memory usage: 11.7+ MB

Value counts for 'gender' (new column):
gender
Men        14496
Women      11301
Unknown      157
Mixed        147
Name: count, dtype: int64

Value counts for 'event_type' (new column):
event_type
Individual           16295
Relay                 7799
Individual Medley     2007
Name: count, dtype: int64

Value counts for 'stroke' (new column):
stroke
Freestyle       12944
Medley           4828
Breaststroke     2918
Backstroke       2752
Butterfly        2502
Name: count, dtype: int64

In [15]:
df_swimming_with_features.drop(columns=['total_distance_meters', 'relay_leg_distance_meters'], inplace=True)

In [16]:
df_swimming_with_features.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26101 entries, 5955 to 315713
Data columns (total 56 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   unknown_id                                           24479 non-null  float64
 1   id                                                   26101 non-null  float64
 2   used_name                                            26101 non-null  object
 3   full_name                                            24466 non-null  object
 4   gender                                               26101 non-null  object
 5   height_in_cm                                         20334 non-null  float64
 6   weight_in_kg                                         19896 non-null  float64
 7   birth_date                                           26023 non-null  object
 8   birth_date_Olympedia                                 24400 non-null  object
 9   age                                                  26023 non-null  float64
 10  age_Olympedia                                        24832 non-null  float64
 11  death_date                                           2927 non-null   object
 12  birth_country                                        22325 non-null  object
 13  birth_country_Olympedia                              19101 non-null  object
 14  birth_country_full                                   22458 non-null  object
 15  birth_country_full_Olympedia                         18320 non-null  object
 16  birth_country_full (2024 imported too)               1343 non-null   object
 17  birth_region_2024                                    1273 non-null   object
 18  birth_region_Olympedia                               19098 non-null  object
 19  birth_city_Olympedia                                 19098 non-null  object
 20  latitude                                             11220 non-null  float64
 21  longitude                                            11220 non-null  float64
 22  year                                                 26101 non-null  int64
 23  sport                                                26101 non-null  object
 24  team                                                 26101 non-null  object
 25  gapminder_countryname                                26101 non-null  object
 26  event                                                26101 non-null  object
 27  medal                                                3047 non-null   object
 28  place                                                23370 non-null  float64
 29  tied                                                 24467 non-null  float64
 30  season                                               26101 non-null  object
 31  event_unmodified                                     26101 non-null  object
 32  GDP per capita, PPP (constant 2021 international $)  26101 non-null  object
 33  GDP total, PPP (constant 2021 international $)       26101 non-null  object
 34  GDP per capita growth (%)                            26101 non-null  object
 35  Population                                           24257 non-null  object
 36  Gini                                                 26101 non-null  object
 37  Roles                                                24466 non-null  object
 38  Born                                                 24404 non-null  object
 39  Died                                                 2927 non-null   object
 40  NOC                                                  24466 non-null  object
 41  Affiliations                                         17268 non-null  object
 42  Nick/petnames                                        1530 non-null   object
 43  Title(s)                                             26 non-null     object
 44  Other names                                          949 non-null    object
 45  Nationality                                          1099 non-null   object
 46  Original name                                        4806 non-null   object
 47  Name order                                           1186 non-null   object
 48  medal_points                                         26101 non-null  int64
 49  normalized_description                               26101 non-null  object
 50  event_type                                           26101 non-null  object
 51  stroke                                               26101 non-null  object
 52  total_distance                                       25944 non-null  float64
 53  unit                                                 26101 non-null  object
 54  relay_legs                                           25944 non-null  float64
 55  relay_leg_distance                                   25944 non-null  float64
dtypes: float64(13), int64(2), object(41)
memory usage: 12.4+ MB