In [127]:
import pandas as pd
import folium
import numpy as np

In [ ]:
summer_olympics_hosts = {
    1924: "FRA",  # France
    1928: "NED",  # Netherlands
    1932: "USA",  # United States
    1936: "GER",  # Germany
    1948: "GBR",  # United Kingdom
    1952: "FIN",  # Finland
    1956: "AUS",  # Australia
    1960: "ITA",  # Italy
    1964: "JPN",  # Japan
    1968: "MEX",  # Mexico
    1972: "FRG",  # West Germany (FRG = Federal Republic of Germany)
    1976: "CAN",  # Canada
    1980: "URS",  # Soviet Union
    1984: "USA",  # United States
    1988: "KOR",  # South Korea
    1992: "ESP",  # Spain
    1996: "USA",  # United States
    2000: "AUS",  # Australia
    2004: "GRE",  # Greece
    2008: "CHN",  # China
    2012: "GBR",  # United Kingdom
    2016: "BRA",  # Brazil
    2020: "JPN",  # Japan
    2024: "FRA",  # France
}

In [6]:
df_full = pd.read_excel('Olympics_dataset_Final_product.xlsx')

In [ ]:
df = df_full[df_full['season'].isin(['Summer Olympics', 'Winter Olympics'])]
df_swimming = df[df['sport'] == 'Swimming']
df_swimming

In [ ]:
medal_to_points = {
    'Gold': 3,
    'Silver': 2,
    'Bronze': 1,    
    None: 0,
}

df_swimming['medal_points'] = df_swimming['medal'].apply(lambda x: medal_to_points.get(x, 0))

/var/folders/_r/ncd8qcvx7b3dtm5wvv799ksw0000gn/T/ipykernel_67254/2788005408.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_swimming['medal_points'] = df_swimming['medal'].apply(lambda x: medal_to_points.get(x, 0))

In [ ]:
def medalists_on_map(df, only_gold=False, name_map_suffix="map", after_year=None):
    if only_gold:
        df_medalists = df[df['medal'] == 'Gold']
    else:
        df_medalists = df_swimming[df_swimming['medal'].notna()]
    
    if after_year is not None:
        df_medalists = df_medalists[df_medalists['year'] > after_year]

    df_medalists = df_medalists.dropna(subset=['latitude', 'longitude'])
    m = folium.Map(location=[df_medalists['latitude'].mean(), df_medalists['longitude'].mean()], zoom_start=2)

    for _, row in df_medalists.iterrows():
        folium.CircleMarker(
            location=[row['latitude'], row['longitude']],
            radius=5,
            popup=f"{row['full_name']} - {row['medal']}",
            color='gold' if row['medal'] == 'Gold' else 'silver' if row['medal'] == 'Silver' else 'brown',
            fill=True,
            fill_opacity=0.7
        ).add_to(m)

    m.save(f'medalists_map_{name_map_suffix}.html')



medalists_on_map(df_swimming, only_gold=False, name_map_suffix="only_gold_swimmers", after_year=None)

In [ ]:
cols = ['id', 'gender', 'age', 'birth_country_full', 'year', 'team', 'event', 'medal_points', 'place', 'Population', 'Gini', ]


gdp_cols = [col for col in df_swimming.columns if 'GDP' in col]
df_swimming_selected = df_swimming[cols + gdp_cols]

In [ ]:

from jakub_script import extract_all_features
event_column_name = 'event'

# Check if the column exists to prevent errors
if event_column_name not in df_swimming_selected.columns:
    print(f"Error: Column '{event_column_name}' not found in df_swimming.")
    print(f"Please check the column name. Available columns are: {df_swimming_selected.columns.tolist()}")
else:
    # Apply the feature extraction
    # It's good practice to work on a copy if you want to keep the original df_swimming unchanged
    df_swimming_with_features = extract_all_features(df_swimming_selected.copy(), event_column_name)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315761 entries, 0 to 315760
Data columns (total 48 columns):
 #   Column                                               Non-Null Count   Dtype
---  ------                                               --------------   -----
 0   unknown_id                                           300807 non-null  float64
 1   id                                                   315757 non-null  float64
 2   used_name                                            315761 non-null  object
 3   full_name                                            300848 non-null  object
 4   gender                                               315758 non-null  object
 5   height_in_cm                                         235844 non-null  float64
 6   weight_in_kg                                         226131 non-null  float64
 7   birth_date                                           312861 non-null  object
 8   birth_date_Olympedia                                 298164 non-null  object
 9   age                                                  312787 non-null  float64
 10  age_Olympedia                                        301887 non-null  float64
 11  death_date                                           72486 non-null   object
 12  birth_country                                        278714 non-null  object
 13  birth_country_Olympedia                              245186 non-null  object
 14  birth_country_full                                   281623 non-null  object
 15  birth_country_full_Olympedia                         234005 non-null  object
 16  birth_country_full (2024 imported too)               12826 non-null   object
 17  birth_region_2024                                    11928 non-null   object
 18  birth_region_Olympedia                               245172 non-null  object
 19  birth_city_Olympedia                                 245170 non-null  object
 20  latitude                                             109471 non-null  float64
 21  longitude                                            109471 non-null  float64
 22  year                                                 315761 non-null  int64
 23  sport                                                315761 non-null  object
 24  team                                                 315761 non-null  object
 25  gapminder_countryname                                315761 non-null  object
 26  event                                                315759 non-null  object
 27  medal                                                45360 non-null   object
 28  place                                                277133 non-null  float64
 29  tied                                                 299848 non-null  float64
 30  season                                               315761 non-null  object
 31  event_unmodified                                     315529 non-null  object
 32  GDP per capita, PPP (constant 2021 international $)  315749 non-null  object
 33  GDP total, PPP (constant 2021 international $)       315749 non-null  object
 34  GDP per capita growth (%)                            315749 non-null  object
 35  Population                                           293988 non-null  object
 36  Gini                                                 315745 non-null  object
 37  Roles                                                300849 non-null  object
 38  Born                                                 298316 non-null  object
 39  Died                                                 72487 non-null   object
 40  NOC                                                  300847 non-null  object
 41  Affiliations                                         210044 non-null  object
 42  Nick/petnames                                        22094 non-null   object
 43  Title(s)                                             978 non-null     object
 44  Other names                                          15839 non-null   object
 45  Nationality                                          18718 non-null   object
 46  Original name                                        62047 non-null   object
 47  Name order                                           15161 non-null   object
dtypes: float64(10), int64(1), object(37)
memory usage: 115.6+ MB
None
          unknown_id            id   height_in_cm   weight_in_kg  \
count  300807.000000  3.157570e+05  235844.000000  226131.000000
mean   150403.599328  1.560488e+05     175.372818      70.591754
std     86836.061475  3.906370e+05      10.471276      14.191490
min         0.000000  1.000000e+00     127.000000      25.000000
25%     75201.500000  3.592400e+04     168.000000      60.000000
50%    150404.000000  7.606100e+04     175.000000      70.000000
75%    225605.500000  1.102170e+05     183.000000      79.000000
max    300807.000000  9.460001e+06     226.000000     198.000000

                 age  age_Olympedia       latitude      longitude  \
count  312787.000000  301887.000000  109471.000000  109471.000000
mean       25.920869      25.924909      38.811825       4.620768
std         5.884908       5.887728      24.067505      57.046280
min        10.000000      11.000000     -53.162569    -178.810537
25%        22.000000      22.000000      39.672756      -2.059745
50%        25.000000      25.000000      47.374449      10.213405
75%        29.000000      29.000000      51.498995      21.024771
max       105.000000      73.000000      74.977838     179.765760

                year          place           tied
count  315761.000000  277133.000000  299848.000000
mean     1983.224132      16.119210       0.145871
std        31.868162      19.353765       0.352977
min      1889.000000       1.000000       0.000000
25%      1964.000000       5.000000       0.000000
50%      1992.000000       9.000000       0.000000
75%      2008.000000      20.000000       0.000000
max      2024.000000     185.000000       1.000000

/Users/kirillkovalchuk/Downloads/datathon/jakub_script.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_swimming['medal_points'] = df_swimming['medal'].apply(lambda x: medal_to_points.get(x, 0))

DataFrame with new features (head):
      unknown_id       id            used_name  \
5955    108936.0  49775.0  Kazimierz Bocheński
7120    103512.0  47918.0        Johann Schulz
8492     99993.0  46584.0        Boris Roolaid
8493     99994.0  46585.0         Egon Roolaid
8499     99995.0  46585.0         Egon Roolaid

                              full_name gender  height_in_cm  weight_in_kg  \
5955  Roman Kazimierz Wiesław Bocheński    Men           NaN           NaN
7120                      Johann Schulz    Men           NaN           NaN
8492         Boris Roolaid (Rosenberg-)    Men           NaN           NaN
8493          Egon Roolaid (Rosenberg-)    Men         177.0          75.0
8499          Egon Roolaid (Rosenberg-)    Men         177.0          75.0

             birth_date birth_date_Olympedia   age  ...  medal_points  \
5955        12 May 1910          12 May 1910  26.0  ...             0
7120                NaN                  NaN   NaN  ...             0
8492    3 February 1917      3 February 1917  19.0  ...             0
8493  26 September 1918    26 September 1918  18.0  ...             0
8499  26 September 1918    26 September 1918  18.0  ...             0

                   normalized_description  event_type      stroke  \
5955  4 x 200 metres Freestyle Relay, Men       Relay   Freestyle
7120           100 metres Backstroke, Men  Individual  Backstroke
8492           100 metres Backstroke, Men  Individual  Backstroke
8493            100 metres Freestyle, Men  Individual   Freestyle
8499            400 metres Freestyle, Men  Individual   Freestyle

     total_distance    unit relay_legs relay_leg_distance  \
5955          800.0  metres        4.0              200.0
7120          100.0  metres        1.0              100.0
8492          100.0  metres        1.0              100.0
8493          100.0  metres        1.0              100.0
8499          400.0  metres        1.0              400.0

     total_distance_meters relay_leg_distance_meters
5955                 800.0                     200.0
7120                 100.0                     100.0
8492                 100.0                     100.0
8493                 100.0                     100.0
8499                 400.0                     400.0

[5 rows x 58 columns]

Info for the DataFrame with new features:
<class 'pandas.core.frame.DataFrame'>
Index: 26101 entries, 5955 to 315713
Data columns (total 58 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   unknown_id                                           24479 non-null  float64
 1   id                                                   26101 non-null  float64
 2   used_name                                            26101 non-null  object
 3   full_name                                            24466 non-null  object
 4   gender                                               26101 non-null  object
 5   height_in_cm                                         20334 non-null  float64
 6   weight_in_kg                                         19896 non-null  float64
 7   birth_date                                           26023 non-null  object
 8   birth_date_Olympedia                                 24400 non-null  object
 9   age                                                  26023 non-null  float64
 10  age_Olympedia                                        24832 non-null  float64
 11  death_date                                           2927 non-null   object
 12  birth_country                                        22325 non-null  object
 13  birth_country_Olympedia                              19101 non-null  object
 14  birth_country_full                                   22458 non-null  object
 15  birth_country_full_Olympedia                         18320 non-null  object
 16  birth_country_full (2024 imported too)               1343 non-null   object
 17  birth_region_2024                                    1273 non-null   object
 18  birth_region_Olympedia                               19098 non-null  object
 19  birth_city_Olympedia                                 19098 non-null  object
 20  latitude                                             11220 non-null  float64
 21  longitude                                            11220 non-null  float64
 22  year                                                 26101 non-null  int64
 23  sport                                                26101 non-null  object
 24  team                                                 26101 non-null  object
 25  gapminder_countryname                                26101 non-null  object
 26  event                                                26101 non-null  object
 27  medal                                                3047 non-null   object
 28  place                                                23370 non-null  float64
 29  tied                                                 24467 non-null  float64
 30  season                                               26101 non-null  object
 31  event_unmodified                                     26101 non-null  object
 32  GDP per capita, PPP (constant 2021 international $)  26101 non-null  object
 33  GDP total, PPP (constant 2021 international $)       26101 non-null  object
 34  GDP per capita growth (%)                            26101 non-null  object
 35  Population                                           24257 non-null  object
 36  Gini                                                 26101 non-null  object
 37  Roles                                                24466 non-null  object
 38  Born                                                 24404 non-null  object
 39  Died                                                 2927 non-null   object
 40  NOC                                                  24466 non-null  object
 41  Affiliations                                         17268 non-null  object
 42  Nick/petnames                                        1530 non-null   object
 43  Title(s)                                             26 non-null     object
 44  Other names                                          949 non-null    object
 45  Nationality                                          1099 non-null   object
 46  Original name                                        4806 non-null   object
 47  Name order                                           1186 non-null   object
 48  medal_points                                         26101 non-null  int64
 49  normalized_description                               26101 non-null  object
 50  event_type                                           26101 non-null  object
 51  stroke                                               26101 non-null  object
 52  total_distance                                       25944 non-null  float64
 53  unit                                                 26101 non-null  object
 54  relay_legs                                           25944 non-null  float64
 55  relay_leg_distance                                   25944 non-null  float64
 56  total_distance_meters                                25944 non-null  float64
 57  relay_leg_distance_meters                            25944 non-null  float64
dtypes: float64(15), int64(2), object(41)
memory usage: 11.7+ MB

Value counts for 'gender' (new column):
gender
Men        14496
Women      11301
Unknown      157
Mixed        147
Name: count, dtype: int64

Value counts for 'event_type' (new column):
event_type
Individual           16295
Relay                 7799
Individual Medley     2007
Name: count, dtype: int64

Value counts for 'stroke' (new column):
stroke
Freestyle       12944
Medley           4828
Breaststroke     2918
Backstroke       2752
Butterfly        2502
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 26101 entries, 5955 to 315713
Data columns (total 56 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   unknown_id                                           24479 non-null  float64
 1   id                                                   26101 non-null  float64
 2   used_name                                            26101 non-null  object
 3   full_name                                            24466 non-null  object
 4   gender                                               26101 non-null  object
 5   height_in_cm                                         20334 non-null  float64
 6   weight_in_kg                                         19896 non-null  float64
 7   birth_date                                           26023 non-null  object
 8   birth_date_Olympedia                                 24400 non-null  object
 9   age                                                  26023 non-null  float64
 10  age_Olympedia                                        24832 non-null  float64
 11  death_date                                           2927 non-null   object
 12  birth_country                                        22325 non-null  object
 13  birth_country_Olympedia                              19101 non-null  object
 14  birth_country_full                                   22458 non-null  object
 15  birth_country_full_Olympedia                         18320 non-null  object
 16  birth_country_full (2024 imported too)               1343 non-null   object
 17  birth_region_2024                                    1273 non-null   object
 18  birth_region_Olympedia                               19098 non-null  object
 19  birth_city_Olympedia                                 19098 non-null  object
 20  latitude                                             11220 non-null  float64
 21  longitude                                            11220 non-null  float64
 22  year                                                 26101 non-null  int64
 23  sport                                                26101 non-null  object
 24  team                                                 26101 non-null  object
 25  gapminder_countryname                                26101 non-null  object
 26  event                                                26101 non-null  object
 27  medal                                                3047 non-null   object
 28  place                                                23370 non-null  float64
 29  tied                                                 24467 non-null  float64
 30  season                                               26101 non-null  object
 31  event_unmodified                                     26101 non-null  object
 32  GDP per capita, PPP (constant 2021 international $)  26101 non-null  object
 33  GDP total, PPP (constant 2021 international $)       26101 non-null  object
 34  GDP per capita growth (%)                            26101 non-null  object
 35  Population                                           24257 non-null  object
 36  Gini                                                 26101 non-null  object
 37  Roles                                                24466 non-null  object
 38  Born                                                 24404 non-null  object
 39  Died                                                 2927 non-null   object
 40  NOC                                                  24466 non-null  object
 41  Affiliations                                         17268 non-null  object
 42  Nick/petnames                                        1530 non-null   object
 43  Title(s)                                             26 non-null     object
 44  Other names                                          949 non-null    object
 45  Nationality                                          1099 non-null   object
 46  Original name                                        4806 non-null   object
 47  Name order                                           1186 non-null   object
 48  medal_points                                         26101 non-null  int64
 49  normalized_description                               26101 non-null  object
 50  event_type                                           26101 non-null  object
 51  stroke                                               26101 non-null  object
 52  total_distance                                       25944 non-null  float64
 53  unit                                                 26101 non-null  object
 54  relay_legs                                           25944 non-null  float64
 55  relay_leg_distance                                   25944 non-null  float64
dtypes: float64(13), int64(2), object(41)
memory usage: 11.4+ MB
DataFrame with new features (head):
      unknown_id       id            used_name  \
5955    108936.0  49775.0  Kazimierz Bocheński
7120    103512.0  47918.0        Johann Schulz
8492     99993.0  46584.0        Boris Roolaid
8493     99994.0  46585.0         Egon Roolaid
8499     99995.0  46585.0         Egon Roolaid

                              full_name gender  height_in_cm  weight_in_kg  \
5955  Roman Kazimierz Wiesław Bocheński    Men           NaN           NaN
7120                      Johann Schulz    Men           NaN           NaN
8492         Boris Roolaid (Rosenberg-)    Men           NaN           NaN
8493          Egon Roolaid (Rosenberg-)    Men         177.0          75.0
8499          Egon Roolaid (Rosenberg-)    Men         177.0          75.0

             birth_date birth_date_Olympedia   age  ...  medal_points  \
5955        12 May 1910          12 May 1910  26.0  ...             0
7120                NaN                  NaN   NaN  ...             0
8492    3 February 1917      3 February 1917  19.0  ...             0
8493  26 September 1918    26 September 1918  18.0  ...             0
8499  26 September 1918    26 September 1918  18.0  ...             0

                   normalized_description  event_type      stroke  \
5955  4 x 200 metres Freestyle Relay, Men       Relay   Freestyle
7120           100 metres Backstroke, Men  Individual  Backstroke
8492           100 metres Backstroke, Men  Individual  Backstroke
8493            100 metres Freestyle, Men  Individual   Freestyle
8499            400 metres Freestyle, Men  Individual   Freestyle

     total_distance    unit relay_legs relay_leg_distance  \
5955          800.0  metres        4.0              200.0
7120          100.0  metres        1.0              100.0
8492          100.0  metres        1.0              100.0
8493          100.0  metres        1.0              100.0
8499          400.0  metres        1.0              400.0

     total_distance_meters relay_leg_distance_meters
5955                 800.0                     200.0
7120                 100.0                     100.0
8492                 100.0                     100.0
8493                 100.0                     100.0
8499                 400.0                     400.0

[5 rows x 58 columns]

Info for the DataFrame with new features:
<class 'pandas.core.frame.DataFrame'>
Index: 26101 entries, 5955 to 315713
Data columns (total 58 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   unknown_id                                           24479 non-null  float64
 1   id                                                   26101 non-null  float64
 2   used_name                                            26101 non-null  object
 3   full_name                                            24466 non-null  object
 4   gender                                               26101 non-null  object
 5   height_in_cm                                         20334 non-null  float64
 6   weight_in_kg                                         19896 non-null  float64
 7   birth_date                                           26023 non-null  object
 8   birth_date_Olympedia                                 24400 non-null  object
 9   age                                                  26023 non-null  float64
 10  age_Olympedia                                        24832 non-null  float64
 11  death_date                                           2927 non-null   object
 12  birth_country                                        22325 non-null  object
 13  birth_country_Olympedia                              19101 non-null  object
 14  birth_country_full                                   22458 non-null  object
 15  birth_country_full_Olympedia                         18320 non-null  object
 16  birth_country_full (2024 imported too)               1343 non-null   object
 17  birth_region_2024                                    1273 non-null   object
 18  birth_region_Olympedia                               19098 non-null  object
 19  birth_city_Olympedia                                 19098 non-null  object
 20  latitude                                             11220 non-null  float64
 21  longitude                                            11220 non-null  float64
 22  year                                                 26101 non-null  int64
 23  sport                                                26101 non-null  object
 24  team                                                 26101 non-null  object
 25  gapminder_countryname                                26101 non-null  object
 26  event                                                26101 non-null  object
 27  medal                                                3047 non-null   object
 28  place                                                23370 non-null  float64
 29  tied                                                 24467 non-null  float64
 30  season                                               26101 non-null  object
 31  event_unmodified                                     26101 non-null  object
 32  GDP per capita, PPP (constant 2021 international $)  26101 non-null  object
 33  GDP total, PPP (constant 2021 international $)       26101 non-null  object
 34  GDP per capita growth (%)                            26101 non-null  object
 35  Population                                           24257 non-null  object
 36  Gini                                                 26101 non-null  object
 37  Roles                                                24466 non-null  object
 38  Born                                                 24404 non-null  object
 39  Died                                                 2927 non-null   object
 40  NOC                                                  24466 non-null  object
 41  Affiliations                                         17268 non-null  object
 42  Nick/petnames                                        1530 non-null   object
 43  Title(s)                                             26 non-null     object
 44  Other names                                          949 non-null    object
 45  Nationality                                          1099 non-null   object
 46  Original name                                        4806 non-null   object
 47  Name order                                           1186 non-null   object
 48  medal_points                                         26101 non-null  int64
 49  normalized_description                               26101 non-null  object
 50  event_type                                           26101 non-null  object
 51  stroke                                               26101 non-null  object
 52  total_distance                                       25944 non-null  float64
 53  unit                                                 26101 non-null  object
 54  relay_legs                                           25944 non-null  float64
 55  relay_leg_distance                                   25944 non-null  float64
 56  total_distance_meters                                25944 non-null  float64

In [188]:
df_swimming_with_features.drop(columns = ['total_distance_meters', 'relay_leg_distance_meters'])

,unknown_id,id,used_name,full_name,gender,height_in_cm,weight_in_kg,birth_date,birth_date_Olympedia,age,...,Original name,Name order,medal_points,normalized_description,event_type,stroke,total_distance,unit,relay_legs,relay_leg_distance
5955,108936.0,49775.0,Kazimierz Bocheński,Roman Kazimierz Wiesław Bocheński,Men,NaN,NaN,12 May 1910,12 May 1910,26.0,...,NaN,NaN,0,"4 x 200 metres Freestyle Relay, Men",Relay,Freestyle,800.0,metres,4.0,200.0
7120,103512.0,47918.0,Johann Schulz,Johann Schulz,Men,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,"100 metres Backstroke, Men",Individual,Backstroke,100.0,metres,1.0,100.0
8492,99993.0,46584.0,Boris Roolaid,Boris Roolaid (Rosenberg-),Men,NaN,NaN,3 February 1917,3 February 1917,19.0,...,NaN,NaN,0,"100 metres Backstroke, Men",Individual,Backstroke,100.0,metres,1.0,100.0
8493,99994.0,46585.0,Egon Roolaid,Egon Roolaid (Rosenberg-),Men,177.0,75.0,26 September 1918,26 September 1918,18.0,...,NaN,NaN,0,"100 metres Freestyle, Men",Individual,Freestyle,100.0,metres,1.0,100.0
8499,99995.0,46585.0,Egon Roolaid,Egon Roolaid (Rosenberg-),Men,177.0,75.0,26 September 1918,26 September 1918,18.0,...,NaN,NaN,0,"400 metres Freestyle, Men",Individual,Freestyle,400.0,metres,1.0,400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315647,295139.0,144950.0,Han Da-Gyeong,Han Da-Gyeong,Women,NaN,NaN,31 January 2000,31 January 2000,20.0,...,NaN,Oriental,0,"800 metres Freestyle, Women",Individual,Freestyle,800.0,metres,1.0,800.0
315648,295140.0,144950.0,Han Da-Gyeong,Han Da-Gyeong,Women,NaN,NaN,31 January 2000,31 January 2000,20.0,...,NaN,Oriental,0,"1,500 metres Freestyle, Women",Individual,Freestyle,1500.0,metres,1.0,1500.0
315653,295141.0,144950.0,Han Da-Gyeong,Han Da-Gyeong,Women,NaN,NaN,31 January 2000,31 January 2000,20.0,...,NaN,Oriental,0,"4 x 200 metres Freestyle Relay, Women",Relay,Freestyle,800.0,metres,4.0,200.0
315674,NaN,1907187.0,Sven Schwarz,NaN,Men,NaN,NaN,31 January 2002,NaN,22.0,...,NaN,NaN,0,"1,500 metres Freestyle, Men",Individual,Freestyle,1500.0,metres,1.0,1500.0
315713,NaN,1907187.0,Sven Schwarz,NaN,Men,NaN,NaN,31 January 2002,NaN,22.0,...,NaN,NaN,0,"800 metres Freestyle, Men",Individual,Freestyle,800.0,metres,1.0,800.0

In [ ]:


df_analysis = df_swimming_with_features[df_swimming_with_features['year'] >= 1924]
df_analysis['event'] = df_analysis['event'].apply(lambda x: x.replace(', Women', "").replace(', Men', ""))
df_analysis['relay'] = df_analysis['event'].apply(lambda x: 1 if 'Relay' in x else 0)
df_analysis['Population'] = df_analysis['Population'].astype(float)

df_analysis['GDP per Capita'] = df_analysis['GDP per capita, PPP (constant 2021 international $)'].apply(lambda x: float(x) if x != 'no_data' else np.nan)

df_analysis['Gini'] = df_analysis['Gini'].apply(lambda x: float(x) if x != 'no_data' else np.nan)

In [ ]:
aggregated_df = df_analysis.groupby(by=['team', 'year', 'gender', 'event_type']).agg(avg_age = ('age', 'mean'), 
                                                        gini = ('Gini', 'mean'),
                                                        points_sum = ('medal_points', 'sum'),
                                                        population = ('Population', 'mean'),
                                                        gdp_per_capita = ('GDP per Capita', 'mean'),
                                                        number_participants = ('id', 'nunique'),
                                                        relays = ('relay', 'sum'),
                                                        average_total_distance = ('total_distance_meters', 'mean'))


aggregated_df['host_indicator'] = [
    (country, year) in summer_olympics_hosts for country, year, gender, event_type  in aggregated_df.index
]

aggregated_df = aggregated_df.dropna()
aggregated_df['proportion_participants_to_population'] = aggregated_df['number_participants'] / aggregated_df['population']

#nomralize
aggregated_df['population'] = (aggregated_df['population'] - aggregated_df['population'].mean()) / aggregated_df['population'].std()
aggregated_df['gdp_per_capita'] = (aggregated_df['gdp_per_capita'] - aggregated_df['gdp_per_capita'].mean()) / aggregated_df['gdp_per_capita'].std()


aggregated_df.head(15)

                             avg_age  gini  points_sum  population  \
team year gender event_type
AFG  2020 Men    Individual     21.0  36.8           0   -0.097716
     2024 Men    Individual     25.0  36.8           0   -0.076506
ALB  1992 Men    Individual     21.0  27.0           0   -0.309819
     2004 Men    Individual     21.0  31.0           0   -0.310909
          Women  Individual     17.0  31.0           0   -0.310909
     2008 Men    Individual     16.0  30.0           0   -0.311535
          Women  Individual     21.0  30.0           0   -0.311535
     2012 Men    Individual     20.0  29.1           0   -0.312027
          Women  Individual     16.0  29.1           0   -0.312027
     2016 Men    Individual     24.0  29.0           0   -0.312099
          Women  Individual     18.0  29.0           0   -0.312099
     2020 Men    Individual     17.0  29.0           0   -0.312252
          Women  Individual     22.0  29.0           0   -0.312252
     2024 Men    Individual     18.0  29.0           0   -0.312728
          Women  Individual     16.0  29.0           0   -0.312728

                             gdp_per_capita  number_participants  relays  \
team year gender event_type
AFG  2020 Men    Individual       -0.978868                    1       0
     2024 Men    Individual       -1.020923                    1       0
ALB  1992 Men    Individual       -0.943404                    1       0
     2004 Men    Individual       -0.718306                    1       0
          Women  Individual       -0.718306                    1       0
     2008 Men    Individual       -0.593880                    1       0
          Women  Individual       -0.593880                    1       0
     2012 Men    Individual       -0.523457                    1       0
          Women  Individual       -0.523457                    1       0
     2016 Men    Individual       -0.467994                    1       0
          Women  Individual       -0.467994                    1       0
     2020 Men    Individual       -0.416565                    1       0
          Women  Individual       -0.416565                    1       0
     2024 Men    Individual       -0.235033                    1       0
          Women  Individual       -0.235033                    1       0

                             average_total_distance  host_indicator  \
team year gender event_type
AFG  2020 Men    Individual               50.000000           False
     2024 Men    Individual               50.000000           False
ALB  1992 Men    Individual               83.333333           False
     2004 Men    Individual               50.000000           False
          Women  Individual               50.000000           False
     2008 Men    Individual               50.000000           False
          Women  Individual               50.000000           False
     2012 Men    Individual              100.000000           False
          Women  Individual              100.000000           False
     2016 Men    Individual               50.000000           False
          Women  Individual              100.000000           False
     2020 Men    Individual              100.000000           False
          Women  Individual               50.000000           False
     2024 Men    Individual              100.000000           False
          Women  Individual              200.000000           False

                             proportion_participants_to_population
team year gender event_type
AFG  2020 Men    Individual                           2.559575e-08
     2024 Men    Individual                           2.344804e-08
ALB  1992 Men    Individual                           3.046458e-07
     2004 Men    Individual                           3.227205e-07
          Women  Individual                           3.227205e-07
     2008 Men    Individual                           3.341207e-07
          Women  Individual                           3.341207e-07
     2012 Men    Individual                           3.436421e-07
          Women  Individual                           3.436421e-07
     2016 Men    Individual                           3.450814e-07
          Women  Individual                           3.450814e-07
     2020 Men    Individual                           3.481950e-07
          Women  Individual                           3.481950e-07
     2024 Men    Individual                           3.581963e-07
          Women  Individual                           3.581963e-07

In [174]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

# Assume you have:
X = aggregated_df.drop(columns = ['points_sum'])
y = aggregated_df['points_sum']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step 2: Initialize the Random Forest Regressor
rf_regressor = RandomForestRegressor(n_estimators=100, random_state=42)

# Step 3: Train the model on the training set
rf_regressor.fit(X_train, y_train)

# Step 4: Predict on the test set
y_pred = rf_regressor.predict(X_test)

# Step 5: Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse:.4f}")
print(f"R^2 Score: {r2:.4f}")

Mean Squared Error: 27.3362
R^2 Score: 0.6286